body {
  background-image: url("https://e0.pxfuel.com/wallpapers/208/813/desktop-wallpaper-my-to-do-list-background.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position-x: center;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.transparency {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100lvh;
}

.inputClass {
  width: 60%;
  border-radius: 10px;
  height: 2em;
  background: transparent;
  outline-color: white;
  border: 2px solid white;
  color: white;
  padding: 0.5em;
}

.inputClass2 {
  width: 50%;
  border-radius: 10px;
  height: 2em;
  background: transparent;
  outline-color: white;
  border: 2px solid white;
  color: white;
  padding: 0.5em;
}

.buttonCass,
#planmain,
button {
  margin: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  width: 5em;
  color: white;
  height: 2em;
  transition-duration: 0.1s;
}

button:hover {
  font-weight: 750;
}

#planmain {
  color: blue;
  background-color: rgba(255, 255, 255, 0.6);
  transition-duration: 0.3s;
}

#planmain:hover {
  font-weight: 750;
  background-color: blue;
  color: white;
}

.cbox {
  width: 2em;
  height: 1em;
  cursor: pointer;
}

#clear {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  color: red;
  transition-duration: 0.3s;
}

#clear:hover {
  background-color: red;
  color: white;
}

#organize {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  color: green;
  transition-duration: 0.3s;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#organize:hover {
  background-color: limegreen;
  color: white;
}

#filter {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  color: darkblue;
  transition-duration: 0.3s;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#filter:hover {
  background-color: darkblue;
  color: white;
}

/* #planmain {
    width: fit-content;
} */

/* .shop {
  width: fit-content;
  text-decoration: none;
  background: transparent;
  border: 2px solid white;
}

.shop > a {
  text-decoration: none;
  background: transparent;
  color: white;
  border: none;
  background: inherit;
}

.shop:hover {
  background-color: white;
}

.shop > a:hover {
  color: rgb(64, 64, 64);
} */
